{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            
        </div>
        <div class="col-12">
            <div class="row">
            {% for makanan in makanans %}
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ makanan.gambar.url }}" class="card-img-top" alt="Makanan">
                        <div class="card-body">
                            <h5 class="card-title">{{ makanan.nama }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}